<div class="row">
	{{#bind "content" tagName="div"}}
	<div class="sub" {{bindAttr skid="storeKey"}}>
	  
	  <!-- BEGIN COLUMNS -->
	  
	  <div class="column contact-col1">
	    <!-- <div class="field">{{contactFirstName}} {{contactLastName}}</div> -->
			<div class="field">{{ext.contactName}}</div>
	    <!-- <div class="field">{{crmAccountName}} ({{crmAccountNumber}})</div> -->
			<div class="field">{{ext.crmAccountLine}}</div>
			<div class="field">{{contactJobTitle}}</div>
	  </div>
	
		<div class="column contact-col2">
			<div class="field">{{contactPrimaryEmail}}</div>
			<div class="field">{{contactWebAddress}}</div>
			<div class="field">{{contactPhone}}</div>
		</div>
		
		<div class="column contact-col3">
			<div class="field">{{addressLine1}}</div>
		</div>
	  
	  <!-- END COLUMNS   -->
	  
	</div>
	{{/bind}}
</div>