<!DOCTYPE html>
<html>
  <head>
    <title>xTuple</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <!-- -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
    <meta http-equiv="Cache-control" content="No-Cache">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- css -->
    <link href="/<%= org %>/client/lib/enyo-x/lib/nvd3/src/nv.d3.css" rel="stylesheet"/>
    <link href="/<%= org %>/client/build/client-code?uuid=<%= coreCss %>&language=css" rel="stylesheet"/>
    <% for (var i = 0; i < extensionCssArray.length; i++) { %>
      <link href="/<%= org %>/client/build/client-code?uuid=<%= extensionCssArray[i] %>&language=css" rel="stylesheet"/>
    <% } %>
    <!-- js -->
    <script src="/<%= org %>/locale"></script>
    <script src="/socket.io/socket.io.js?1.3.10" type="text/javascript"></script>
    <script src="/node_modules/jquery/jquery.js"></script>
    <script src="/<%= org %>/client/build/client-code?uuid=<%= coreJs %>&language=js"></script>
    <% for (var i = 0; i < extensionJsArray.length; i++) { %>
      <script src="/<%= org %>/client/build/client-code?uuid=<%= extensionJsArray[i] %>&language=js"></script>
    <% } %>
  </head>
  <body class="enyo-unselectable">
    <script>
      if (!window.App) {
        alert('No application build found, redirecting to debug app.');
        location = '/<%= org %>/debug';
      }
      new App().start();
    </script>
  </body>
</html>
