<!DOCTYPE html>
<html>
  <head>
    <title>xTuple</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <!-- -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- enyo (debug) -->
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>

    <script>
      less = {
        poll: 3000,
        async: true
      };
    </script>
    <script src="/<%= org %>/client/lib/module/less/dist/less-1.5.0.js"></script>
    <script src="/<%= org %>/client/enyo/enyo.js"></script>
    <script src="/node_modules/jquery/jquery.js"></script>
    <!-- application (debug) -->
    <link href="/<%= org %>/client/lib/enyo-x/lib/nvd3/src/nv.d3.css" rel="stylesheet"/>
    <script src="/<%= org %>/locale?debug=true"></script>
    <script src="/<%= org %>/client/lib/tools/lib/underscore/underscore.js" type="text/javascript"></script>
    <script src="/<%= org %>/client/lib/tools/source/locale.js" type="text/javascript"></script>
    <script src="/<%= org %>/client/lib/enyo-x/source/en/strings.js" type="text/javascript"></script>
    <script src="/<%= org %>/client/lib/tools/source/en/strings.js" type="text/javascript"></script>
    <script src="/<%= org %>/client/source/en/strings.js" type="text/javascript"></script>
    <script src="/<%= org %>/client/source/package.js" type="text/javascript"></script>
    <% for (var i = 0; i < extensionPaths.length; i++) { %>
      <script src="/<%= org %><%= extensionPaths[i] %>/client/en/strings.js"></script>
      <script src="/<%= org %><%= extensionPaths[i] %>/client/package.js"></script>
    <% } %>
  </head>
  <body class="enyo-unselectable">
    <script>
      new App().start();

      // turn off exit prompt in debug mode.
      window.onbeforeunload = undefined;
    </script>
  </body>
</html>
